* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page background (corrected from .body to body) */
body {
    background-color: white;
    line-height: 1.6; /* Optional: Improve readability */
}


/* Force blue navbar */
.navbar.navbar-expand-lg {
    background-color: #d5dada !important; /* Blue background */
}

/* Ensure text is visible */
.navbar-brand,
.navbar-nav .nav-link {
    color: rgb(25, 24, 24) !important;
}

.navbar-nav .nav-link:hover {
    color: #282828 !important;
}




.custom-style {
    color: rgb(87, 162, 228) !important;

}
